html {
  height: 100%;
  overflow: hidden;
}

body, h1, h2, h3, h4, p, ul, li {
	margin: 0;
	padding: 0;
}

body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
}

li {
  list-style-type: none;
}

@font-face {
	font-family: 'GeosansLightRegular';
	src: url('geosanslight-webfont.eot');
	src: local('?'), url('geosanslight-webfont.woff') format('woff'), url('geosanslight-webfont.ttf') format('truetype'), url('geosanslight-webfont.svg#webfontTx137F5E') format('svg');
	font-weight: normal;
	font-style: normal;
}


h1 {
  font-family: GeosansLight;
  margin-left: 40px;
	font-size: 30px;
	line-height: 30px;
	color: #444;
  text-shadow: #ccc 0px 0px 10px; 
}


#header {
  height: 20px;
  background-color: #eee;
  color: #AAA;
  padding: 20px;
  background: -webkit-gradient(linear, 0% 45%, 0% 60%, from(#eee), to(#ddd)); 
}

#footer {
  height: 40px;
  color: #AAA;
  padding: 10px;
  background: -webkit-gradient(linear, 0% 45%, 0% 60%, from(#eee), to(#ddd)); 
}

#nicklist {
  width: 100px;
  padding: 5px;
  float: left;
  overflow: auto;
  background: -webkit-gradient(linear, 45% 0%, 0% 60%, from(#ddd), to(#eee)); 
  font-size: 10px;
  text-align: center;
}

#nicklist ul li {
  background: -webkit-gradient(linear, 45% 0%, 0% 60%, from(#eee), to(#fff));
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
	box-shadow: 5px 5px 5px #ccc;
}

#chatlog {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 5px;
	overflow: auto;
	width: auto;
	background-color: #000;
  color: #eee;
  font-family: "Courier New";
  font-size: 11px;
  height: 100%;
}
#chatlog div {
  height: 100%;
}
#chatinput {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  outline:none;
  padding: 5px;
  color: #444;
}

#logo {
 position: absolute;
 top: 5px;
 left: 5px;
 width: 50px;
 height: 50px;
}

.separation {
  color: #444;
}

.mine .nick {
  color: #ff0000;
}